.awards-box{
    width: 100%;
    align-items: center;
    display: contents;  
}
.AwardsTemplate.templateInComplete .AwardsTemplate-award, 
.AwardsTemplate.templateInComplete .AwardsTemplate-Gallery img{
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.AwardsTemplate .AwardsTemplate-Gallery img{
    width: 150px;
    height: 400px;
    margin: 0 6px;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
    -webkit-transition: opacity .4s,-webkit-transform .65s cubic-bezier(.6,0,.1,1);
    transition: opacity .4s,-webkit-transform .65s cubic-bezier(.6,0,.1,1);
    transition: opacity .4s,transform .65s cubic-bezier(.6,0,.1,1);
    transition: opacity .4s,transform .65s cubic-bezier(.6,0,.1,1),-webkit-transform .65s cubic-bezier(.6,0,.1,1);
}
.template {
    width: 100%;
    height: 100%;
}
.AwardsTemplate {
    max-width: none!important;
    padding-left: 0!important;
    padding-right: 0!important;
    padding-bottom: 0!important;
}
.GenericTemplate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px 10px 60px;  
}
.AwardsTemplate .AwardsTemplate-Gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    margin-top: 3vw;
} 
.AwardsTemplate .AwardsTemplate-Gallery img:first-child {
    /* margin-top: 15px; */
    -webkit-transition-delay: .15s;
    transition-delay: .15s;
}
.AwardsTemplate .AwardsTemplate-Gallery img:nth-child(2) {
    /* margin-top: 45px; */
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}
.AwardsTemplate .AwardsTemplate-Gallery img:nth-child(3) {
    -webkit-transition-delay: .45s;
    transition-delay: .45s;
}
.AwardsTemplate .AwardsTemplate-Gallery img:nth-child(4) {
    /* margin-top: 55px; */
    -webkit-transition-delay: .6s;
    transition-delay: .6s;
}
.titleBoxes{
    display: inline-flex;
    position: absolute;
    margin-top: 420px;
    text-align: center;
}
.titleBoxes h4{
    margin-left: 10px;
}
.AwardsTemplate.templateInComplete .AwardsListModule table {
    opacity: 1;
    -webkit-transition-delay: 1.4s;
    transition-delay: 1.4s;
}
.AwardsTemplate .AwardsListModule table {
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}
.AwardsListModule table {
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    vertical-align: top;
    border-collapse: collapse;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}
.AwardsListModule:before {
    position: absolute; 
    top: 20px;
    left: 0; 
    right: 0;
    bottom: 0;
    content: "";
    z-index: -1;
    border-top: 1px solid #d8d5cc;
    background: #D1D2D4;
}
.AwardsListModule table th {
    cursor: pointer;
    padding-bottom: 6px;
    position: relative;
    padding-right: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 60px;
}
.AwardsListModule th {
    opacity: .8;
    font-size: 1vw;
    color: gray;
    letter-spacing: 2px;
    line-height: 14px;
    text-transform: uppercase;
}
/* .AwardsTemplate .AwardsListModule table tbody tr.transitioned-in { */
    /* -webkit-transform: translateY(0); */
    /* transform: translateY(0); */
    /* opacity: 1; */
/* } */
/* .AwardsTemplate .AwardsListModule table tbody tr { */
    /* opacity: 0; */
    /* -webkit-transform: translateY(100px); */
    /* transform: translateY(100px); */
    /* -webkit-transition: opacity .5s,-webkit-transform .65s cubic-bezier(.39,.575,.565,1); */
    /* transition: opacity .5s,-webkit-transform .65s cubic-bezier(.39,.575,.565,1);
    transition: opacity .5s,transform .65s cubic-bezier(.39,.575,.565,1);
    transition: opacity .5s,transform .65s cubic-bezier(.39,.575,.565,1),-webkit-transform .65s cubic-bezier(.39,.575,.565,1); */
/* } */
.AwardsListModule table tr:first-child {
    vertical-align: top!important;
}
/* .show‌‌BoxTitle{
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
    display: grid;
    grid-template-columns: auto auto auto auto;
    position: absolute;
    margin-top: 400px;
}  */
.AwardsListModule table td {
    vertical-align: top;
    letter-spacing: 0;
    height: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
}
.AwardsListModule table td div {
    padding-top: 18px;
    padding-bottom: 23px;
    padding-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    min-height: 100%;
}
.AwardsListModule table td div span:first-child {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    width: calc(100% - 102px);
    margin-bottom: auto;
}
.AwardsListModule table td div span:nth-child(2) {
    margin-top: 30px;
    opacity: .5;
    font-weight: 700;
    font-size: 1.2vw;
    line-height: 17px;
}
.AwardsListModule table td div span:nth-child(3) {
    opacity: .5;
    font-size: 1.2vw;
    line-height: 17px;
    margin-top: 5px;
}
.AwardsListModule table td div span {
    min-height: 14px;
    display: block;
}
.AwardsListModule table tr:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    border-top: 1px solid #c5c5c5;
}
.AwardsSvg{
    opacity: 1;
    left: 0px;
    position: absolute;
    transform: translate3d(109.804px, 0px, 0px) scale(1.0001, 1);
}
.AwardsSvgDiv{
    width: 100%;
    height: 100%;
    /* position: absolute; */
    left: 0px;
    top: 0px;
}
.hideTitle{
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    display: grid;
    grid-template-columns: auto auto auto auto;
    position: absolute;
    margin-top: 400px;
}
.awardsTitle{
    width: 100%;
    margin-top: 100px;
}
.awardBoxImage{
    width: 150px;
    height: 400px;
}
.AwardsListModule{
    margin-top: 40px;
    width: 100%;
    padding: 0 10px 60px;
    position: relative;
    text-align: left;
}
.AwardsListModule table th.active:after {
    position: absolute;
    top: 4px;
    margin-left: 3px;
    content: "";
    width: 0;
    height: 0;
    border-color: #373737 transparent transparent;
    border-style: solid;
    border-width: 4px 4px 0;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s,-webkit-transform .2s;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.AwardsListModule table th.active.asc:after {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}   
.AwardsTemplate .AwardsTemplate-summary {
    padding: 0 10px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    max-width: 1000px;
    margin-top: 60px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.AwardsTemplate .AwardsTemplate-summary .AwardsTemplate-award:first-child {
    -webkit-transition-delay: 2.05s;
    transition-delay: 2.05s;
}
.TextStyle-PageTitle {
    line-height: 0;
}
.TextStyle-PageTitle>div {
    height: 48px;
    position: relative;
    margin-right: 425px;
}
.grid-item {
    font-size: 1.2vw;
    padding: 1.9vw;
    text-align: center;
    padding-top: 15px;
}
.awards-icon-box{

}
.awards-icon-name{
    font-size: 1.4vw;
    font-family: LisztFYBlack,Georgia,Times,serif;
    text-align: center;
    color: #373737;
    margin-left: 5px;
    margin-top: 5px;
}
.awards-icon{
    width: 4vw;
}
@media (min-width: 768px){
    .AwardsListModule {
        padding-bottom: 120px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .AwardsTemplate .AwardsTemplate-Gallery img {
        width: 150px;
        height: 400x;
        margin: 0 10px;
    }
    .TextStyle-PageTitle>div {
        height: 66px;
    }
}
.awards-teams-row{
    margin-top: 4vw;
    margin-bottom: 3vw;
}