.contact-us-containet{
    padding: 70px 150px;
}
.contact-box{
    width: 100%;
    max-width: none !important;
}
.contact-us-title{
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 80px;
}
.contact-us-description{
    font-size: larger;
    margin-bottom: 15px;
    font-size: 2vw;
    margin-left: 1vw;
}
.contact-us-info{
    font-size: 1.5vw;
    font-family: LisztFYRegular,Georgia,Times,serif;
    padding: 10px 15px;
    cursor: pointer;
}
.contact-us-info:hover{
    color: #50BCBA;
}
.contact-us-info>i{
    margin-right: 10px;
    color: #50BCBA;
}
.contact-us-social-networks{
    padding: 20px 15px;
    position: relative;
}
.contact-us-social-networks>a{
    padding: 0px 50px 0px 0px;
}
.facebookSvg{
    pointer-events: none;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 68px;
    bottom: 7px;
}
.contact-img{
    width: 100%;
    position: absolute;
    left: -5% !important;
    top:-35% !important;
    /* bottom: -40% !important; */
}
.instagramSvg{
    pointer-events: none;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 133px;
    bottom: 7px;
}
.twitterSvg{
    pointer-events: none;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0px;
    bottom: 7px;
}
.contact-bottom-box{
    margin-top: 3%;
}