.customer-container{
    display: flex;
    justify-content: center;
}
.customers-box{
    width: 79% !important;
    margin-top: 15vh;
}
.international-container{
    width: 100%;
}
.clients-title{
    text-align: center;
    font-size: 22px;
    margin-top: 2vh;
    color: gray;
}
.clients-title-box{
    margin-top: 5%;
}
.customers-title{
    text-align: center;
}
.customer-row{
    text-align: center;
}
.customer-row >div{
    margin-bottom: 40px;
}
.customer-logo {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}  
.customer-logo-img{
    object-fit: cover;
    flex-shrink: 0;
    max-width: 100%;
    max-height: 100%
}
@media (max-width: 370px){
    .customers-title{
        font-size: 12px !important;
        margin-top: 25% !important;
    }
    .customer-container,
    .customers-box,
    .customer-logo-box{
        margin-top: 0px !important;
    }
    .customer-logo {
        height: 45px;
    }  
    .clients-title{
        font-size: 10px;
    }
}
@media (min-width: 375px) and (max-width: 450px) {
    .customers-title{
        font-size: 22px;
    }
    .customer-container,
    .customers-box,
    .customer-logo-box{
        margin-top: 0px !important;
    }
    .customer-logo {
        height: 50px;
    }  
    .clients-title{
        font-size: 17px;
    }
}
@media (min-width:450px) and (max-width:775px){
    .customer-logo {
        height: 70px;
    }  
    .customer-container,
    .customers-box,
    .customer-logo-box{
        margin-top: 0px !important;
    }
}