.members-modal{
    cursor: pointer;
}
.first-modal-container{
    background-color: #373737;
    display: flex;
    align-items: center;
}
.first-modal-row{
    height: 100%;
    
}
.first-modal-picture{
    padding: 0 !important;
}
.first-modal-picture > img{
    width: 100%;
}
.first-modal-box{
    width: 100%;
}
.first-modal-descrition-box{
    text-align: center;
    padding-left: 3px !important;
    padding-right: 3px !important;
}
.first-modal-logo{
    display: block;
    position: relative;
}
.first-modal-info{
    color: white;
    font-size: 1.5vW;
    position: absolute;
    width: 100%;
    top: 73%;
    left: 75%;
    transform: translate( -55%, -80% );
    bottom: 0; right: 0;
    
}
.first-modal-btn{
    color: #50BCBA;
    font-size: 4VW;
    cursor: pointer;
    margin-top: -10%;
}
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 3s infinite;
   -moz-animation: flickerAnimation 3s infinite;
   -o-animation: flickerAnimation 3s infinite;
    animation: flickerAnimation 3s infinite;
}
@media (max-width: 270px){
    .first-modal-info{
        top: 62%;
        left: 78%;
    }
    .home-box-title {
        font-size: 15px !important;
    }
}
@media (min-width: 270px) and (max-width: 375px){
    .first-modal-info{
        top: 65% !important;
        left: 78%;
    }
}
@media (min-width: 375px) and (max-width: 500px){
    .first-modal-info{
        top: 68% !important;
    }
}
@media (min-width: 500px) and (max-width: 675px){
    .first-modal-info{
        top: 71% !important;
    }
}

@media (min-width: 675px) and (max-width: 820px){
    .first-modal-info{
        top: 71% !important;
        left: 75% !important;
        font-size: 1.5vW !important;
    }
}