.portfolio-wrapper{
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.portfolio-container{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.portfolio-titles{
    width: 80%;
    margin-top: 15vh;
    margin-left: 10%;
}

@media (max-width: 775px){
    .portfolios-container{
        margin-top: 0;
    }
}

.portfolio-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.portfolio-rows{
    height: 100%;
    display: flex;
    flex-direction: row;
}

.portfolio-cols{
    margin-top: 30px;
}

.portfolio-img-shadow{
    height: 100%;
    width: 0;
    background-color: #50BCBA;
    position: absolute;
    top: 0px;
    cursor: pointer;
    opacity: 0.2;
    transition: all 0.3s ease-in-out;
}

.portfolio-cols:hover .portfolio-img-shadow{
    width: calc(100% - 30px);
    opacity: 0.8;
}

.portfolio-name{
    font-size: 2vmax;
    color: white;
    position: absolute;
    z-index: 1000;
    width: 50%;
    top: 30px;
    left: 40px;
    cursor: pointer;
    display: none;
}

.portfolio-cols:hover .portfolio-name{
    display: initial;
}

.portfolio-big-img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.portfolio-info{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-bottom: 10vh;
    height: 100%;
}

.portfolio-info-title{
    width: 50%;
    font-size: 0.8vw;
    line-height: 4vw;
    overflow: hidden;
    white-space: wrap;
}

.portfolio-info-value{
    width: 50%;
    font-size: 0.65vw;
    line-height: 4vw;
    overflow: hidden;
    white-space: wrap;
}

.portfolio-info-title-value-container{
    display: flex;
}

.portfolio-full-info-col{
    margin-top: 30px;
}

.portfolio-text{
    font-size: 1vw;
    line-height: 2vw;
    padding-left: 30px;
}

.portfolio-pdf-container{
    padding-left: 30px;
}

.portfolio-pdf{
    toolbar:0;
    margin-top: 60px;
    width: 100%;
}

.portfolio-back{
    font-size: 1.5vw;
    color: black;
    cursor: pointer;
}
.portfolio-back:hover{
    color: #50BCBA;
}