.services-container, 
.services-products, 
.div-center{
    display: flex;
    justify-content: center;
}
.services-box{
    text-align: center;
    width: 85%;
}
.services-header{
    text-align: center;
    margin-top: 10%;
}
.services-products > div:first-child {
    width: 81%;
    padding-left: 27px !important;
    padding-right: 0px !important;
}
.services-title{
    text-align: center;
    font-size: 22px;
    margin-top: 5px;
    color: gray;
}
.services-title-top{
    margin-bottom: 3%;
}
.services-video-container{
    width: 100%;
}
.services-videos{
    display: flex;
    overflow-x: auto;
    opacity: 1;
    cursor: pointer;
}
.services-image{
    padding: 20px 15px;
    margin-top: 20px;
    width: 150px;
    height: 150px;
    cursor: pointer;
}
.services-video{
    opacity: 1;
}
.services-video:hover{
    opacity: 0.5;
}
.services-hr{
    width: 90%;
    margin-bottom: 2%;
}
.services-pro-name{
    font-size: 16px;
    font-family: LisztFYBlack,Georgia,Times New Roman,Times,serif;
    text-align: left;
    color: #444444;
    margin-left: 5px;
    margin-top: 5px;
}
.services-pro-date{
    font-size: 13px;
    color: gray;
    font-family: LisztFYBlack,Georgia,Times New Roman,Times,serif;
    text-align: left;
    margin-left: 5px;
}
.teams-row > div{
    margin-top: 30px;
    padding-left: 0px !important;
    /* margin-right: 35px !important; */
}
.services-videos::-webkit-scrollbar {
    background-clip: content-box;
}
.services-videos::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: rgba(43, 42, 42, 0.4);
    -webkit-transition: background .2s;
    transition: background .2s;
    border-radius: 0;
    border: 10px solid transparent;
    border-left-width: 3px;
}
.services-employee-image{
    padding: 20px 0px;
    margin-top: 20px;
    width: 150px;
    cursor: pointer;
}
.services-employee-box{
    display: flex;
    overflow: hidden;
    width: 89%;
    opacity: 1;
    cursor: pointer;
}
.paging-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}
.selected-page-number{
    font-size: 17px;
    padding: 10px;
    color: white;
    background-color: #50BCBA;
    width: 5px;
    height: 5px;
    text-align: center;
}
.page-number{
    font-size: 17px;
    padding: 10px;
    color: #373737;
    width: 5px;
    height: 5px;
    text-align: center;
}
.services-employee-info{
    opacity: 0;
    background-color: #50BCBA;
    position:absolute;
    bottom: 32px;
    width: 150px;
    line-height: 2px;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}
.services-employee{
    position: relative;
}
.services-employee-name{
    font-size: 18px;
    font-family: LisztFYBlack,Georgia,Times New Roman,Times,serif;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,200%,0);
    transform: translate3d(0,200%,0);
    display: inline-block;
}
.services-employee-job{
    font-size: 13px;
    color: #444444;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,200%,0);
    transform: translate3d(0,200%,0);
    display: inline-block;
}

.services-employee:hover .services-employee-info,
.services-employee:hover .services-employee-name,
.services-employee:hover .services-employee-job{
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.services-employee:hover .services-employee-name,
.services-employee:hover .services-employee-job{
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.services-employee-job, .services-employee-name{
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,200%,0);
    transform: translate3d(0,200%,0);
}
.arrow-left{
    position: absolute;
    left: 11%;
    margin-top: 10%;
    z-index: 9;
}
.arrow-right{
    position: absolute;
    right: 11.5%;
    margin-top: 10%;
    z-index: 9;
}