.team-container {
    display: flex;
    justify-content: center;
}
.team-box{
    width: 79%;
    text-align: center;
    /* margin-top: 5%; */
}
.team-title-top{
    margin-bottom: 3%;
}
.team-header{
    text-align: center;
    margin-top: 14%;
    margin-bottom: 2%;
}
/* .team-info-size{
    width: 180px !important;
} */
.teams-member{
    justify-content: center;
    display: contents;
}
.team-pictures{
    /* width: 180px;
    height: 240px; */
    opacity: 1;
    cursor: pointer;
    margin-bottom: 20px;
}
.teams-row{
    margin: 0 !important;
    width: 100%;
    margin-bottom: 55px;
    text-align: center !important;
    justify-content: end !important;
}
.teams-row > div {
    padding: 0px !important;
    display: flex !important;
    justify-content: center !important;
}
.team-title{
    text-align: center;
    font-size: 22px;
    margin-top: 5px;
    color: gray;
}
.team-grid-box{
    padding: 0 !important;
    margin-top: 3%;
    justify-content: center;
    display: flex;
}
.teams-col{
    flex: 0 0 14.6667% !important; 
}

@media (max-width:370px) {
    .team-box {
        width: 60%;
    }
    .team-header {
        margin-top: 60%;
        font-size: 22px;
    }
    .team-title-top{
        font-size: 14px;
    }
    .top-video .react-player{
        height: auto !important;
    }
    .team-grid-box {
        margin-top: 20px !important;
        padding: 0px !important;
    }
    .team-pictures{
        width: 45px;
        height: 105px;
    }
    .team-info-size{
        width: 45px !important;
    }
    /* .teams-row{
        width: 100%;
    }
    .teams-row > div {
        padding: 0px !important;
    } */
}
@media (min-width:370px) and (max-width:575px) {
    .team-box {
        width: 50%;
    }
    .team-header {
        margin-top: 60%;
        font-size: 22px;
    }
    .team-title-top{
        font-size: 14px;
    }
    .top-video .react-player{
        height: auto !important;
    }
    .team-grid-box {
        margin-top: 20px !important;
        padding: 0px !important;
    }
    .team-pictures{
        width: 61px;
        height: 121px;
    }
    .team-info-size{
        width: 61px !important;
    }
}
@media (min-width:575px) and (max-width:720px) {
    .team-box {
        width: 60% !important;
    }
    .team-header {
        margin-top: 30%;
        font-size: 28px;
    }
    .team-title-top{
        font-size: 22px;
    }
    .top-video .react-player{
        height: auto !important;
    }
    .team-grid-box {
        margin-top: 20px !important;
        padding: 0px !important;
    }
    .team-pictures{
        width: 100px;
        height: 160px;
    }
    .team-info-size{
        width: 100px !important;
    }
    /* .teams-row{
        width: 100%;
    }
    .teams-row > div {
        padding: 0px !important;
    } */
}