html{
  background-color: #D1D2D4;
}
body{
  color: #373737;
  font-size: 36px;
  font-family: LisztFYBlack,Georgia,Times New Roman,Times,serif;
  vertical-align: baseline;
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
  min-width: 100%;
  min-height: 100%;
}
.App {
  background: #373737;
}
.hide{
  display: none;
}
.drawCircle{
  animation: drowCircle 1s 1 forwards ;
  transform-origin: 0px 0px;
  stroke-dasharray: 250;
  stroke-dashoffset: -194.399;
  fill: none;
  stroke:#373737;
  background-repeat: no-repeat;
}
.container{
  left:35px;
  right:35px;
}

@keyframes drowCircle {
  to{
    stroke-dashoffset:1e-05px;
    stroke-dasharray: 500  ;
  }
}