body{
  color: #000;
  font-size: 22px;
  font-family: Clearface ITC W01,Georgia,Times New Roman,Times,serif;
  vertical-align: baseline;
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
  min-width: 100%;
  min-height: 100%;
}
.App {
  background: #000;
}

.drawCircle{
  animation: drowCircle 1s 1 forwards ;
  transform-origin: 0px 0px;
  stroke-dasharray: 250;
  stroke-dashoffset: -194.399;
  fill: none;
  stroke:#231f20;
  background-repeat: no-repeat;
}

@keyframes drowCircle {
  to{
    stroke-dashoffset:1e-05px;
    stroke-dasharray: 500  ;
  }
}