.AdminSideButton{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    cursor: pointer;
    font-size:20px;

    text-align: left;
}
.AdminSideButton:Hover{
    background-color: #50BCBA;
}

.SelectedButton{
    background-color: #d1d2d4;
    color: black;
}