.AdminSideMenu{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 200px;
    height: 100vh;
    padding: 30px;
    padding-right: 0;
    margin: 0;
    background-color: #373737;
    color: white;
    overflow-y: auto;
    direction: rtl;
}
.AdminSideMenu::-webkit-scrollbar{
    display: none;
}

.adminLogo{
    width: 100px;
    margin-right: 50px;
}