.BlogContainer{
    transform: matrix(1, 0, 0, 1, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    bottom: 0;
    background: #000;
    z-index: 15;
    color: #b3b3b3;
    overflow: auto;
    padding-right: 15px;
    overflow-x: hidden;
}
.BlogSidebar{
    opacity: 1; 
    transform: matrix(1, 0, 0, 1, 0, 0);

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 15px;
    width: 42px;
    z-index: 1;
}
.BlogContainer::-webkit-scrollbar {
    background-clip: content-box;
    background: #000;
}
.BlogContainer::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: hsla(0,0%,100%,.4);
    -webkit-transition: background .2s;
    transition: background .2s;
    border-radius: 0;
    border: 10px solid transparent;
    border-left-width: 3px;
}
.BlogSidebar-close{
    height: 60px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #000;
    text-decoration: none;
    top:0;
}

.BlogSidebar-social{
    transform: matrix(1, 0, 0, 1, 0, 0);
    margin-top: 20px;
    /* position: fixed; */
    /* top: 0;
    left: 0; */
    display: flex;
    flex-flow: row;
    bottom: 0;
    background: #000;
    z-index: 15;
    color: #b3b3b3;
    overflow: auto;
    text-decoration: none;
    /* padding-right: 15px; */
}

.BlogSidebar-span {
    text-transform: uppercase;
    margin-top: auto;
    display: block;
    font-weight: 700;
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
    font-size: 10px;
    color: #6c6b6b;
    white-space: nowrap;
    letter-spacing: 2px;
    margin-bottom: 41px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.BlogSidebar-content{
    width: 220px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
}
.BlogSidebar-topbar {
    height: 60px;
    width: 100%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #494847;
    background: #000;
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
}

.BlogSidebar-entry{
    margin-bottom: 60px;
    border-top: 1px solid #494847;
}

.ImagePlaceholder{
    margin-top: 10px;
}

.BlogSidebar-title{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: .67px;
    line-height: 19px;
    margin-top: 20px;
    color: #fff;
}

.BlogSidebar-description{
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 19px;
    margin-top: 6px;
}

.BlogSidebar-cta{
    font-size: 12px;
    letter-spacing: 2.4px;
    line-height: 19px;
    text-transform: uppercase;
    position: relative;
    margin-top: 10px;
    display: block;
    color: #fff;
    cursor: pointer;
}

.BlogSidebar-cta:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.fa{
    font-size: small !important;
}

@media (min-width: 576px){
    .BlogSidebar {
        padding-right: 10px;
    }
    .BlogSidebar-close {
        height: 78px;
    }
    .BlogSidebar-topbar {
        height: 78px;
    }
}