ul {
  margin-top:50px;
  padding: 0;
  list-style-type: none;
  text-align:center;
  height: calc(100vh - 150px);
}
.homeBox > li {
  margin-right: 10px;
  margin-left: 10px;
  margin-top:20px;
  overflow: hidden;
  display: inline-block;
}
li>img{
  margin-right: 10px;
  margin-left: 10px;
  height: 400px;
  object-fit: cover;
  transition: all 1s ease-out;
}
li>img:hover{
  margin-right: 10px;
  margin-left: 10px;
  height:500px;
}
.homeBox >li > video{
  height: 400px;
  margin-left: 10px;
  margin-right: 10px;
  object-fit: scale-down;
  transition: all 1s ease-out;
}
li>video:hover{
  height:500px;
  margin-left: 10px;
  margin-right: 10px;
}
.top-li{
  height: 400px;
  padding-top: 100px;
  object-fit: scale-down;
  transition: all 1s ease-out;
}
.top-li:hover{
  height:500px;
}

.title{
  text-align: center;
  margin-top:50px;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}
.imageBox{
  width: 200px;
  height: 600px;
}
.imageBox:hover{
  width: 200px;
}

.sound{
  position: fixed;
  bottom: 40px;
  left: 20px;
  z-index: 11;
}
.sound>i{
  margin-left: 5px;
  bottom: 40px;
  position:fixed;
}

.DrawIcon{
  position: absolute;
  left: 0;
  top: 0;
  will-change: transform;
}
.svg{
  pointer-events: none;
  width: 60px;
  height: 50px;
  position: absolute;
  left: -10px;
  bottom: -12px;
}
.svg:focus{
  outline: -webkit-focus-ring-color auto 5px;
}

.box {
  transition: width 1s, height 2s, background-color 2s, transform 2s;
}