.homeBox {
  margin-top:35px;
  padding: 0;
  list-style-type: none;
  text-align:center;
  height: calc(100vh - 150px);
}
.homeBox > li {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  overflow: hidden;
  display: inline-block;
}    
.title{
  text-align: center;
  margin-top:50px;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.imageBox{
  width: 180px;
}
.imageBox:hover{
  width: 220px;
  padding-left: 0px;
  transition: width 1s, height 2s, background-color 2s, transform 2s;
}
.sound{
  position: fixed;
  bottom: 40px;
  left: 20px;
  z-index: 11;
}
.sound>i{
  margin-left: 5px;
  bottom: 40px;
  position:fixed;
}
.DrawIcon{
  position: absolute;
  left: 0;
  top: 0;
  will-change: transform;
}
.svg{
  pointer-events: none;
  width: 60px;
  height: 50px;
  position: absolute;
  left: -10px;
  bottom: -12px;
}
.svg:focus{
  outline: -webkit-focus-ring-color auto 5px;
}
.top-li{
  padding:20px 0px;
  width: 200px;
  height: 450px;
}
.top-li:hover{
  width: 240px;
  height: 450px;
  padding-left: 0px;
}
.down-li{
  width: 200px;
  height: 450px;
  padding-left: 0px;
}
.down-li:hover{
  width: 240px;
  height: 450px;
  padding-left: 0px;
}
