.info-row{
    margin-bottom: 55px;
    text-align: center !important;
    justify-content: end !important;
}
.info-picture{
    padding: 0 !important;
    overflow: hidden;
}
.info-descrition{
    text-align: left;
}
.about-us-name{
    margin-top:0px;
    font-size: 2.7vw;
}
.about-us-title{
    font-size: 2.5vw;
    font-family: LisztFYRegular,Georgia,Times,serif;
    color: gray;
}
.about-us-description{
    font-size: 1.9vw;
    font-family: LisztFYRegular,Georgia,Times,serif;
}
@media (min-width:1200px){
    .info-box-image{
        width:95%;
    }
}