.info-row{
    margin-bottom: 55px;
    text-align: center !important;
    justify-content: end !important;
}
.info-picture{
    padding: 0 !important;
}
.info-descrition{
    text-align: left;
}
.about-us-name{
    font-size: 32px;
}
.about-us-title{
    font-size: 32px;
    font-family: LisztFYRegular,Georgia,Times,serif;
    color: gray;
}
.about-us-description{
    font-size: 24px;
    font-family: LisztFYRegular,Georgia,Times,serif;
}