.team-modal-container{
    background-color:#e7e5df;
}
.team-close-modal{
    padding: 15px 30px;
    float: right;
    position: relative;
    z-index: 999999;
}
.team-modal-picture{
    padding: 0 !important;
}
.team-modal-box{
    padding-left: 0px !important;
}
.team-modal-picture > img{
    width: 100%;
}
.team-modal{
    background-color: #e7e5df;
}
.team-modal-descrition-box{
    text-align: left;
    margin-top: 3%;
}
.team-modal-name{
    font-size: 16px;
    font-family: LisztFYBlack,Georgia,Times New Roman,Times,serif;
}
.team-modal-descrition{
    font-size: 14px;
    font-family: LisztFYRegular,Georgia,Times New Roman,Times,serif;
}
.modal-close-svg{
    pointer-events: none;
    width: 60px;
    height: 50px;
    position: fixed;
    right: 5px;
    top: 10px;
    z-index: 99999;
}
