.team-modal-container{
    background-color:#e7e5df;
}
.modal-close-svg{
    pointer-events: none;
    width: 60px;
    height: 50px;
    position: fixed;
    left: 19px;
    top: 19px;
    z-index: 99999;
}
.team-close-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
}
.team-close-modal>i{
    font-size: small;
    position: fixed;
    top: 25px;
    left: 30px;
    right: 0;
}
.team-modal-picture{
    padding: 1px !important;
}
.team-modal-box{
    padding-left: 0px !important;
}
.team-modal-picture > img{
    width: 100%;
    object-fit: cover;
}
.team-modal{
    background-color: #e7e5df;
}
.team-modal-descrition-box{
    text-align: left;
    padding-left: 30px !important;
    margin-bottom: 20px;
}
.team-modal-name{
    font-size: 2vw;
    font-family: LisztFYRegular,Georgia,Times New Roman,Times,serif;
}
.team-modal-descrition{
    font-size: 1.5vw;
    font-family: LisztFYRegular,Georgia,Times New Roman,Times,serif;
}

.team-modal-picture-tag{
    object-fit: cover;
}
@media (max-width:767px){
    .team-modal-name{
        font-size:3.2vw;
    }
    .team-modal-descrition{
        font-size:2.8vw;
    }
}