.graphics-background-elements{
    width: 100%;
    height: 100%;
    position: fixed;
    text-align:center;
    display: flex;
    z-index: -1;
}

@media (orientation: landscape){
    .graphics-bg-1{
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
    }

    .graphics-bg-2{
        height: 100%;
        top: 0;
        left: 20%;
        position: absolute;
        z-index: -1;
    }

    .graphics-bg-3{
        height: 100%;
        top: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    .graphics-bg-4{
        height: 60%;
        top: 35%;
        left: 5%;
        position: absolute;
        z-index: -1;
    }

    .graphics-bg-5{
        width: 60%;
        top: 0;
        left: 20%;
        position: absolute;
        z-index: -1;
    }
}

@media (orientation: portrait){
    .graphics-bg-1{
        width: 100%;
        top: 0;
        left: -70%;
        position: absolute;
        z-index: -1;
    }

    .graphics-bg-2{
        height: 100%;
        top: 0;
        left: -35%;
        position: absolute;
        z-index: -1;
    }

    .graphics-bg-3{
        width: 100%;
        top: 30%;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    .graphics-bg-4{
        height: 50%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
    }

    .graphics-bg-5{
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
    }
}