.services-container, 
.services-products, 
.div-center{
    display: flex;
    justify-content: center;
    /* margin-top: 20px; */
}
/* #top-video{ */
    /* margin-top: 3%; */
/* } */
.services-box{
    text-align: center;
    width: 95%;
    margin-top: 15vh;
}
.services-header{
    text-align: center;
    margin-bottom: 1%;
    margin-top:3%
}
.services-products > div:first-child {
    width: 81%;
    padding-left: 27px !important;
    padding-right: 0px !important;
}
.div-center > div{
    width: 100%;
}
.div-center > div:first-child {
    position: relative;
    padding: 0 !important;
}
.services-video-container{
    width: 100%;
}
.services-videos{
    display: flex;
    overflow-x: auto;
    opacity: 1;
    cursor: pointer;
}
.services-image{
    padding: 20px 15px;
    margin-top: 20px;
    width: 150px;
    height: 150px;
    cursor: pointer;
}
.services-video{
    opacity: 1;
}
.services-video:hover{
    opacity: 0.5;
}
.services-hr{
    width: 90%;
    margin-bottom: 3%;
}
.services-team-title{
    margin-bottom: 3%;
}
.services-pro-name{
    font-size: 1vw;
    font-family: LisztFYRegular,Georgia,Times,serif;
    text-align: left;
    color: #444444;
    margin-left: 5px;
    margin-top: 5px;
}
.services-pro-date{
    font-size: 0.9vw;
    color: gray;
    font-family: LisztFYRegular,Georgia,Times,serif;
    text-align: left;
    margin-left: 5px;
}
/* .pro-teams-row{
    width: 100%;
} */
.pro-teams-row > div{
    margin-top: 30px;
    padding-left: 0px !important;
    /* margin-right: 35px !important; */
}
.services-videos::-webkit-scrollbar {
    background-clip: content-box;
}
.services-videos::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: rgba(43, 42, 42, 0.4);
    -webkit-transition: background .2s;
    transition: background .2s;
    border-radius: 0;
    border: 10px solid transparent;
    border-left-width: 3px;
}
.services-employee-image{
    padding: 20px 0px;
    margin-top: 20px;
    width: 150px;
    cursor: pointer;
}
.services-employee-image>hover{
    transition: transform .7s ease-in-out;
}
.services-employee-box{
    display: flex;
    overflow: hidden;
    /* width: 89%; */
    opacity: 1;
    cursor: pointer;
}
.paging-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}
.selected-page-number{
    font-size: 22px;
    padding: 10px;
    color: white;
    background-color: #50BCBA;
    width: 2vw;
    height: 2vw;
    text-align: center;
}
.page-numbers{
    margin-top: 20px;
}
.page-number{
    font-size: 17px;
    padding: 10px;
    color: #373737;
    width: 5px;
    height: 5px;
    text-align: center;
}
/*.arrow-left{
    position: absolute;
    left: 100%;
    top: 40%;
}
.arrow-right{
    position: absolute;
    right: 100%;
    top: 40%;
}*/
.services-title{
    text-align: center;
    font-size: 1.5vw;
    margin-top: 5px;
    color: gray;
}
.services-section-title{
    text-align: center;
    font-size: 1.5vw;
    color: gray;
}
.slideCol {
    overflow: hidden;
    display: block;
    white-space: nowrap;
}
.slideCol p { margin: 0px !important; }
.scroller {
    height: 30pt;
    overflow: hidden;
}
.scroller .inner { animation: 1s normal running scroll; }
@keyframes scroll {
    100%   {margin-top: 5px;}
    50%  {margin-top: -30pt;}
    0% {margin-top: -30pt;}
}

@media (max-width: 270px){
    .selected-page-number {
        padding: 5px !important;
        font-size: 12px !important;
    }
    /*.team-arrow{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }*/
    .services-employee-box>div{
        padding-left: 3px !important;
        padding-right: 3px !important;
    }
    .main-video-wrapper{
        padding-top: 10px !important;
        padding-bottom: 0px !important;
        padding-right: 15px !important;
    }
    .slideCol {
        height: 4vh !important;
    }
    .services-box{
        width: 70% !important;
        margin-top: 0px !important;
    }
    .services-header {
        font-size: 17px;
        margin-top: 35%;
    }
    .services-title,
    .services-section-title {
        font-size: 10px;
    }
    .services-title-top {
        margin-bottom: 5%;
    }
    .top-react-player{
        width: auto !important;
        height: auto !important;
    }
    .pro-react-player,
    .main-react-player{
        width: 35px !important;
        height: 35px !important;
    }
    .main-player-wrapper{
        padding: 10px 0px !important;
        padding-right: 5px !important;
        padding-left: 0px !important;
    }
    .services-pro-name{
        width: 35px !important;
        font-size: 10px;
        margin: 0;
    }
    .services-pro-date{
        width: 35px !important;
        font-size: 8px;
        margin: 0px;
    }
    .services-products > div:first-child {
        width: 100% !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    
    .pro-teams-row{
        margin-left:0px !important;
    }
    .services-employee-image{
        margin-top: 0px !important;
        width: 100px !important;
    }
    .services-employee-info{
        width: 100px !important;
        height: 42px !important;
    }
    .services-employee-name{
        font-size: 10px;
    }
    .services-employee-job{
        font-size: 7px;
    }
    .services-hr{
        width: 100%;
    }
    .pro-teams-row > div {
        margin-top: 10px
    }
    .team-employees{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}
@media (min-width: 270px) and (max-width: 375px){
    .selected-page-number {
        padding: 5px !important;
        font-size: 12px !important; 
    }
    .services-employee-box>div{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .team-employees{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .main-video-wrapper{
        padding-top: 10px !important;
        padding-bottom: 0px !important;
        padding-right: 15px !important;
    }
    .services-box{
        width: 79% !important;
        margin-top: 0px !important;
    }
    .slideCol {
        height: 4vh !important;
    }
    .services-header {
        font-size: 17px;
        margin-top: 25%;
    }
    .services-title,
    .services-section-title {
        font-size: 10px;
    }
    .services-title-top {
        margin-bottom: 5%;
    }
    .top-react-player{
        width: auto !important;
        height: auto !important;
    }
    .pro-react-player,
    .main-react-player{
        width: 45px !important;
        height: 45px !important;
    }
    .main-player-wrapper{
        padding: 10px 0px !important;
        padding-right: 5px !important;
        padding-left: 0px !important;
    }
    .services-pro-name{
        width: 45px !important;
        font-size: 10px;
        margin: 0;
    }
    .services-pro-date{
        width: 45px !important;
        font-size: 8px;
        margin: 0px;
    }
    .services-products > div:first-child {
        width: 100% !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .pro-teams-row{
        margin-left:0px !important;
    }
    .services-employee-image{
        margin-top: 0px !important;
        width: 100px !important;
    }
    .services-employee-info{
        width: 100px !important;
        height: 42px !important;
    }
    .services-employee-name{
        font-size: 10px;
    }
    .services-employee-job{
        font-size: 7px;
    }
    .services-hr{
        width: 100%;
    }
}
@media (min-width: 375px) and (max-width: 420px){
    .pro-react-player{
        width: 75px !important;
        height: 75px !important;
    }
}
@media (min-width: 420px) and (max-width: 500px){
    .pro-react-player{
        width: 85px !important;
        height: 85px !important;
    }
}
@media (min-width: 375px) and (max-width: 500px){
    .selected-page-number {
        padding: 5px !important;
        font-size: 12px !important;
    }
    .services-box{
        width: 80% !important;
        margin-top: 0px !important;
    }
    .services-header {
        font-size: 20px;
        margin-top: 20%;
    }
    .slideCol {
        height: 6vh !important;
    }
    .services-hr{
        width: 100%;
    }
    .services-title,
    .services-section-title {
        font-size: 14px;
    }
    .services-title-top {
        margin-bottom: 5%;
    }
    .top-react-player{
        width: auto !important;
        height: auto !important;
    }
    /*.pro-react-player{
        width: 85px !important;
        height: 85px !important;
    }*/
    .main-player-wrapper{
        padding-left: 0px !important;
    }
    .services-pro-name{
        width: 85px !important;
        font-size: 10px;
        margin: 0;
    }
    .services-products > div:first-child {
        width: 100% !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .services-pro-date{
        width: 85px !important;
        font-size: 8px;
        margin: 0px;
    }
    .pro-teams-row{
        margin-left:0px !important;
    }
    /*.arrow-left {
        left: 100%;
        top: 40%;
    }
    .arrow-right {
        right: -15px;
        top: 40%;
    }*/
    .services-employee-image{
        margin-top: 0px !important;
        width: 100px !important;
    }
    .services-employee-info{
        width: 100px !important;
        height: 42px !important;
    }
    .services-employee-name{
        font-size: 10px;
    }
    .services-employee-job{
        font-size: 7px;
    }
    .services-employee-box>div{
        padding-left: 3px !important;
        padding-right: 3px !important;
    }
    .services-employee-box{
        width: 137% !important;
    }
}
@media (min-width: 500px) and (max-width: 550px){
    .services-employee-box{
        width: 130% !important;
    }
    /*.arrow-right {
        right:-130%;
        top: 37%;
    }*/
}
@media (min-width: 500px) and (max-width: 575px){
    .services-header {
        font-size: 20px;
        margin-top: 20%;
    }
}
@media (min-width: 575px) and (max-width: 675px){
    .services-header {
        font-size: 20px;
        margin-top: 15%;
    }
}

@media (min-width: 500px) and (max-width: 675px){

    .selected-page-number {
        padding: 5px !important;
        font-size: 12px !important;
    }
    .team-employees{
        overflow: hidden;
    }
    .services-products > div:first-child{
        padding-left: 0px !important;
    }
    .services-box{
        width: 84% !important;
        margin-top: 0px !important;
    }
    .slideCol {
        height: 6vh !important;
    }
    .services-hr{
        width: 100%;
    }
    .services-title,
    .services-section-title {
        font-size: 14px;
    }
    .services-title-top {
        margin-bottom: 5%;
    }
    .top-react-player{
        width: auto !important;
        height: auto !important;
    }
    .pro-react-player{
        width: 85px !important;
        height: 85px !important;
    }
    .main-player-wrapper{
        padding-left: 0px !important;
    }
    .services-pro-name{
        width: 85px !important;
        font-size: 10px;
        margin: 0;
    }
    .services-products > div:first-child {
        width: 100% !important;
        padding-right: 0px !important;
        /* padding-left: 0px !important; */
    }
    .services-pro-date{
        width: 85px !important;
        font-size: 8px;
        margin: 0px;
    }
    .pro-teams-row{
        margin-left:0px !important;
    }
    /*.arrow-left {
        left: 100%;
        top: 37%;
    }
    .arrow-right {
        right:100%;
        top: 37%;
    }*/
    .services-employee-image{
        margin-top: 0px !important;
        width: 100px !important;
    }
    .services-employee-info{
        width: 100px !important;
        height: 42px !important;
    }
    .services-employee-name{
        font-size: 10px;
    }
    .services-employee-job{
        font-size: 7px;
    }
}

@media (min-width: 675px) and (max-width: 820px){
    .selected-page-number {
        padding: 5px !important;
        font-size: 12px !important;
    }
    .services-box{
        width: 87% !important;
        margin-top: 0px !important;
    }
    .services-header {
        font-size: 20px;
        margin-top: 13%;
    }
    .slideCol {
        height: 6vh !important;
    }
    .services-hr{
        width: 100%;
    }
    .services-title,
    .services-section-title {
        font-size: 14px;
    }
    .services-title-top {
        margin-bottom: 5%;
    }
    .top-react-player{
        width: auto !important;
        height: auto !important;
    }
    .pro-react-player{
        width: 85px !important;
        height: 85px !important;
    }
    .main-player-wrapper{
        padding-left: 0px !important;
    }
    .services-pro-name{
        width: 85px !important;
        font-size: 10px;
        margin: 0;
    }
    .services-products > div:first-child {
        width: 100% !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .services-pro-date{
        width: 85px !important;
        font-size: 8px;
        margin: 0px;
    }
    .pro-teams-row{
        margin-left:0px !important;
    }
    /*.arrow-left {
        left: 100%;
        top: 38%;
    }
    .arrow-right {
        right:100%;
        top: 38%;
    }*/
    .services-employee-image{
        margin-top: 0px !important;
        width: 100px !important;
    }
    .services-employee-info{
        width: 100px !important;
        height: 42px !important;
    }
    .services-employee-name{
        font-size: 10px;
    }
    .services-employee-job{
        font-size: 7px;
    }
}

.background-elements{
    width: 100%;
    height: 100%;
    position: fixed;
    text-align:center;
    display: flex;
    z-index: -1;
    opacity: 0.7;
}


@media (orientation: landscape){
    .background-image-1{
        height: 130%;
        top: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
}

@media (orientation: landscape){
    .background-image-2{
        width: 100%;
        top: -25%;
        right: 0;
        position: absolute;
        z-index: -2;
    }
}

@media (orientation: portrait){
    .background-image-1{
        height: 100%;
        bottom: 0;
        position: absolute;
        z-index: -1;
    }
}

@media (orientation: portrait){
    .background-image-2{
        height: 100%;
        left: -40%;
        top: -10%;
        position: absolute;
        z-index: -2;
    }
}