.digital-background-elements{
    width: 100%;
    height: 100%;
    position: fixed;
    text-align:center;
    display: flex;
    z-index: -1;
}

@media (orientation: landscape){
    .digital-bg-1{
        height: 50%;
        top: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    .digital-bg-2{
        height: 100%;
        top: 0;
        left: -5%;
        position: absolute;
        z-index: -1;
    }

    .digital-bg-3{
        height: 50%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
    }

    .digital-bg-4{
        height: 40%;
        top: 0;
        left: 10%;
        position: absolute;
        z-index: -1;
    }

    .digital-bg-5{
        height: 100%;
        top: 0;
        left: 30%;
        position: absolute;
        z-index: -1;
    }
}

@media (orientation: portrait){
    .digital-bg-1{
        height: 50%;
        top: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    .digital-bg-2{
        height: 100%;
        top: 0;
        left: -35%;
        position: absolute;
        z-index: -1;
    }

    .digital-bg-3{
        height: 50%;
        top: 0;
        left: -10%;
        position: absolute;
        z-index: -1;
    }

    .digital-bg-4{
        height: 30%;
        top: 0;
        left: 0%;
        position: absolute;
        z-index: -1;
    }

    .digital-bg-5{
        height: 100%;
        top: 0;
        left: 0%;
        position: absolute;
        z-index: -1;
    }
}