.course-main-box{
    position:relative;
}
.course-main-box div:first-child,
.course-main-box div::nth-child(3){
    position:absolute;
}
.training-column-second{
    display: flex;
    justify-content: center;
}
.training-arrow-right{
    position: absolute;
    top: 35%;
    right: 3vw !important;
}
.training-arrow-left{
    position: absolute;
    top: 35%;
    z-index: 9;
    left: 3vw !important;
}
.training-employee-box > div{
    margin-right:20px !important;
}
.training-employee-box{
    display: flex;
    overflow: auto;
    max-width: 90%;
    opacity: 1;
    cursor: pointer;
    scrollbar-width: none;
}
.training-employee-box::-webkit-scrollbar {
    display: none;
}

@media (max-width:300px){
    .training-arrow-right{
        right: 1vw !important;
    }
    .training-arrow-left{
        left: 0vw !important;
    }
}
@media (min-width:300px) and (max-width:450px){
    .training-arrow-right{
        right: 0vw !important;
    }
    .training-arrow-left{
        left: 0vw !important;
    }
}
@media (min-width:450px) and (max-width:800px){
    .training-arrow-right{
        right: 2vw !important;
    }
    .training-arrow-left{
        left: 2vw !important;
    }
}

.training-background-elements{
    width: 100%;
    height: 100%;
    position: fixed;
    text-align:center;
    display: flex;
    z-index: -1;
}

@media (orientation: landscape){
    .training-bg-1{
        width: 100%;
        top: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    .training-bg-2{
        height: 100%;
        top: 0;
        right: -10%;
        position: absolute;
        z-index: -1;
    }

    .training-bg-3{
        height: 50%;
        top: -5%;
        left: 5%;
        position: absolute;
        z-index: -1;
    }
}

@media (orientation: portrait){
    .training-bg-1{
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
    }

    .training-bg-2{
        height: 100%;
        top: 0;
        left: -10%;
        position: absolute;
        z-index: -1;
    }

    .training-bg-3{
        height: 50%;
        top: -5%;
        left: 5%;
        position: absolute;
        z-index: -1;
    }
}